@model HotelCabañas.Models.VMIndexMantenimiento
@{
    ViewData["Title"] = "Mantenimientos";
}

<div>
    <h3>Cabaña @Model.Cabania.Id - @Model.Cabania.Nombre</h3>
</div>

<div class="input-group rounded">
    <form method="POST" action="Index" class="d-flex">
        @Html.AntiForgeryToken()
        <input asp-for="Cabania.Id" type="number" value="@Model.Cabania.Id" class="d-none">
        <input asp-for="Busqueda.Fecha1" type="date" class="form-control rounded" placeholder="Fecha Desde" />
        <input asp-for="Busqueda.Fecha2" type="date" class="form-control rounded" placeholder="Fecha Hasta" />
        <input id="search" type="submit" value="Buscar" />
    </form>
</div>

<p class="text-danger">@ViewBag.Error</p>

<br />


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Costo</th>
                <th scope="col">Nombre quien realizo</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Mantenimientos)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Fecha</td>
                    <td>@item.Descripcion</td>
                    <td>$@item.Costo</td>
                    <td>@item.NombreRealizo</td>
                </tr>
            }
        </tbody>
    </table>



